### 데이터 활용 방법 - 전치
- 행과 열을 서로 바꾸는 것
- 방법
    - (1) 메서드 : 변수명.transpose()
    - (2) 속성 : 변수명.T

In [7]:
import pandas as pd

In [8]:
file_name=r'C:\KDT\EX_PANDAS\DAY02\data.csv'

In [14]:
# CSV => DataFrame 형태로 저장
csvDF=pd.read_csv(file_name)
csvDF

   no  name  age gender
0   1   lee   11      F
1   2  park   13      F
2   3    do   14      M
3   4   ahn   15      F
4   5   seo   20      M

In [17]:
# DF 형태 변경 : 행 => 열, 열 => 행
print("변경전",csvDF.index,csvDF.columns,csvDF,sep='\n')

# 속성 T 사용
csvDF=csvDF.T
print("변경후",csvDF.index,csvDF.columns,csvDF,sep='\n')

변경전
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')
  no  name age gender
0  1   lee  11      F
1  2  park  13      F
2  3    do  14      M
3  4   ahn  15      F
4  5   seo  20      M
변경후
Index(['no', 'name', 'age', 'gender'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
          0     1   2    3    4
no        1     2   3    4    5
name    lee  park  do  ahn  seo
age      11    13  14   15   20
gender    F     F   M    F    M

In [18]:
# 메서드 transpose() 사용
csvDF=csvDF.transpose()
print("변경후",csvDF.index,csvDF.columns,csvDF,sep='\n')

변경후
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name', 'age', 'gender'], dtype='object')
  no  name age gender
0  1   lee  11      F
1  2  park  13      F
2  3    do  14      M
3  4   ahn  15      F
4  5   seo  20      M