### [DataFrame의 인덱스 다루기 - 4]
- 인덱스 정렬하기
- 기본 : 오름차순 정렬
- 메서드 : sort_index()

In [1]:
## [1] 모듈로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
data={'A':[98,78,100,52]}

In [3]:
# [3] Dict => DataFrame 형태로 저장
dataDF=pd.DataFrame(data,index=[9,12,1,3])
dataDF

      A
9    98
12   78
1   100
3    52

In [4]:
# [4] 행 인덱스 정렬
# - 기본 : 오름차순 정렬 즉, 작은 인덱스 >>> 큰 인덱스
dataDF.sort_index()

      A
1   100
3    52
9    98
12   78

In [5]:

# - 변경 : 내림차순 정렬 즉, 큰 인덱스 >>> 작은 인덱스
dataDF.sort_index(ascending=False)

      A
12   78
9    98
3    52
1   100

In [7]:
# [5] 행 인덱스 정렬
# 현재 [12,9,3,1] => ['A','b','C','d']
dataDF.index=['A','b','C','d']
dataDF

     A
A   98
b   78
C  100
d   52

In [9]:
# 정렬
dataDF.sort_index(key=lambda x:x.str.lower())

     A
A   98
b   78
C  100
d   52