### [DataFrmae 연산 - 2]
- 일대일 대응으로 인덱스가 동일한 원소들끼리 연산 수행
- DataFrame과 DataFrame 연산 수행

In [9]:
# [1]
import pandas as pd
import numpy as np # 빈 칸 의미 표현을 위해서 사용

In [10]:
# [2] 데이터 준비
data={'A':[98,78,100,52],
    'B':[90,70,10,50]}
# [3] Dict 데이터 => DataFrame 형태 저장
DF1=pd.DataFrame(data)
DF2=DF1/4

In [11]:
print(DF1,DF2,sep='\n\n')

     A   B
0   98  90
1   78  70
2  100  10
3   52  50

      A     B
0  24.5  22.5
1  19.5  17.5
2  25.0   2.5
3  13.0  12.5

In [12]:
# [4] 연산수행
# - 산술연산
DF1-DF2

      A     B
0  73.5  67.5
1  58.5  52.5
2  75.0   7.5
3  39.0  37.5

In [13]:
# - 비교연산
DF1 <= DF2

       A      B
0  False  False
1  False  False
2  False  False
3  False  False

In [14]:
# [5] 연산수행 => DataFrame과 Series
# - 산술연산
# - 'A'컬러만 추출
DF1.A + DF2
SR1=DF1.A

In [15]:
# [방법1] SR => DF로 변환
SRDF=SR1.to_frame()
SRDF

     A
0   98
1   78
2  100
3   52

In [18]:
DF1.columns=[0,1]
DF1
DF1.T+SR1

     0    1    2    3
0  196  156  200  104
1  188  148  110  102