### [Series & DaraFrame 연산]

In [29]:
import pandas as pd

In [30]:
file_name='data1.csv'

In [31]:
# CSV File => DataFrame 형태 저장
csvDF=pd.read_csv(file_name,header=None)

In [32]:
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  66  55  44
3  90  90  90
4   5   5   5

In [33]:
# 연산 실습
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
result=csvDF[0]+csvDF[2]
result

0     40
1    160
2    110
3    180
4     10
dtype: int64

In [34]:
# 0~2번 컬럼까지의 덧셈 수행
result=csvDF[0]+csvDF[1]+csvDF[2]
result

0     60
1    240
2    165
3    270
4     15
dtype: int64

In [35]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가
csvDF['Total']=result
csvDF

    0   1   2  Total
0  10  20  30     60
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270
4   5   5   5     15

In [36]:
# 행 5 추가 => 데이터 : 각 컬럼의 값을 모두 더한 값

### [연산수행 메서드] : 합계 sum(), 최대값 max(), 최소값 min()

In [37]:
# DataFrame 합계 계산
print(csvDF.sum())
# 각 컬럼 데이터를 모아서 합계 수행 / 행 마다 컬럼들을 모아서 합계
print(csvDF.sum(axis=1))

0        261
1        250
2        239
Total    750
dtype: int64
0    120
1    480
2    330
3    540
4     30
dtype: int64

In [38]:
# DataFrame 최대값 계산
print(csvDF.max())
print(csvDF.max(axis=1))

0         90
1         90
2         90
Total    270
dtype: int64
0     60
1    240
2    165
3    270
4     15
dtype: int64

In [39]:
# DataFrame 최소값 계산
print(csvDF.min())
print(csvDF.min(axis=1))

0         5
1         5
2         5
Total    15
dtype: int64
0    10
1    70
2    44
3    90
4     5
dtype: int64

#### 연산과 데이터 추출
- 연산결과와 데이터 추출 함께 진행

In [40]:
# Total이 100이상인 데이터만 추출
# 비교 연산 결과 => True/False : Boolean Index
bool_index=csvDF.Total>100

In [42]:
# Boolean Index 즉, 특정 데이터 추출에 사용 가능
# csvDF[컬럼인덱스], csvDF.iloc[행인덱스], csvDF.loc[행인덱스]
csvDF[bool_index]

    0   1   2  Total
1  90  80  70    240
2  66  55  44    165
3  90  90  90    270