1. 데이터를 저장 후 몇 가지 문제를 코드로 작성합니다.
 이름  | 가격| 재고
메로나 | 300 | 20
비비빅 | 400 | 3
죠스바 | 250 | 100

In [1]:
import pandas as pd

In [3]:
#(1-01) 데이터를 저장해 주세요.
data={'이름':['메로나','비비빅','죠스바'],
      '가격':[300,400,250],
      '재고':[20,3,100]}
DF1=pd.DataFrame(data)
# (1-02) 데이터 저장 후 주요 속성 6가지를 출력하세요.
print(DF1.index,DF1.values,DF1.columns,DF1.shape,DF1.ndim,DF1.dtypes)

RangeIndex(start=0, stop=3, step=1) [['메로나' 300 20]
 ['비비빅' 400 3]
 ['죠스바' 250 100]] Index(['이름', '가격', '재고'], dtype='object') (3, 3) 2 이름    object
가격     int64
재고     int64
dtype: object

In [ ]:
# (1-03) 가격 데이터만 추출하세요.
DF1['가격']

0    300
1    400
2    250
Name: 가격, dtype: int64

In [ ]:
# (1-04) 이름과 재고 데이터를 추출하세요.
DF1[['이름','재고']]

    이름   재고
0  메로나   20
1  비비빅    3
2  죠스바  100

In [ ]:
# (1-05) 비비빅의 가격과 재고 데이터를 추출 하세요. 
DF1.iloc[1]

이름    비비빅
가격    400
재고      3
Name: 1, dtype: object

In [ ]:
# (1-06) 메로나와 죠스바의 가격, 재고 데이터를 추출 하세요.
DF1.iloc[[0,2]]

    이름   가격   재고
0  메로나  300   20
2  죠스바  250  100

In [4]:
# (1-07) 행 인덱스를 ‘일’, ‘이’, ‘삼’으로 변경해 주세요.
DF1.index = ['일', '이', '삼']
DF1

    이름   가격   재고
일  메로나  300   20
이  비비빅  400    3
삼  죠스바  250  100

In [ ]:
# (1-08) 총가격 컬럼을 추가 후 0으로 값을 채워 주세요.
DF1["총가격"]=0
DF1

    이름   가격   재고  총가격
0  메로나  300   20    0
1  비비빅  400    3    0
2  죠스바  250  100    0

In [ ]:

# (1-09) ‘빵빠레’, 550원, 10개 데이터를 추가해 주세요.
DF1.iloc[3]=0
DF1.iloc[3]=['빵빠레',550,10,0]
DF1


# (1-10) 비비빅의 재고를 23로 변경해 주세요.
DF1.iloc[1,2]=23
DF1

    이름   가격   재고  총가격
0  메로나  300   20    0
1  비비빅  400   23    0
2  죠스바  250  100    0
3  빵빠레  550   10    0