### 과제
- Doit 70~90p
- 발전량 합계 함수썼던거 메서드로 sum?

In [11]:
## doit 70~71p
# 시리즈 만들기
import pandas as pd
import numpy as np
s=pd.Series(['banana',42])
print(s)
s=pd.Series(data=['Wes McKinney','Creator of Pandas'],index=['Person','Who'])
print(s)

0    banana
1        42
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [12]:
## doit 71~72p
# 데이터 프레임 만들기
scientists=pd.DataFrame({
    "name":["Rosaline Franklin","William Gosset"],
    "Occupation": ["Chemist","Statistician"],
    "Born": ["1920-07-25","1876-06-13"],
    "Died": ["1958-04-16","1937-10-16"],
    "Age": [37,61],
})
print(scientists)

scientists=pd.DataFrame(
    data={
        "Occupation": ["Chemist","Statistician"],
        "Born": ["1920-07-25","1876-06-13"],
        "Died": ["1958-04-16","1937-10-16"],
        "Age": [37,61],
    },
    index=["Rosaline Franklin","William Gosset"],
    columns=["Occupation","Born","Died","Age"],
)
print(scientists)

                name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [13]:
## doit 73~75p
# 시리즈 추출하기
first_row=scientists.loc["William Gosset"] # DF에서 행 추출
print(type(first_row))
print(first_row)
print(first_row.index) # 시리즈 객체의 인덱스 확인
print(first_row.values) # 시리즈 객체의 값 확인

# 시리즈의 keys() 메서드
print(first_row.keys()) # 시리즈의 keys()는 index 속성과 같은 역할을 한다.
print(first_row.index[0]) # 첫 번째 인덱스를 추출하는 방법
print(first_row.keys()[0])

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation
Occupation

In [14]:
## doit 76~77p
# 시리즈의 메서드 사용하기
ages=scientists['Age'] # DF에서 Age 열 시리즈 추출
print(ages)
print(ages.mean()) # 평균
print(ages.min()) # 최솟값
print(ages.max()) # 최댓값
print(ages.std()) # 표준편차
## 시리즈와 ndarray
# 판다스 시리즈 자료구조는 넘파이의 ndarray(numpy.ndarray)와 유사하다. ndarray에서 사용할 수 있는 대부분의
# 메서드와 함수는 시리즈에서도 사용가능 / 한 특성에 대한 여러 가지 값이므로 시리즈를 벡터(vector)라고도 한다.

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

In [15]:
## doit 78~81p / 시리즈와 불리언
# 기술 통계량 계산하기
scientists=pd.read_csv(r'C:\KDT\EX_PANDAS\DAY02\DATA_doit_pan\DATA\scientists.csv')
ages=scientists['Age'] # DF에서 Age열 추출하여 ages에 저장
print(ages)
print(ages.describe()) # 기술 통계량 계산
print(ages.mean()) # describe()의 mean 값과 같다
print(ages[ages>ages.mean()]) # 평균 나이보다 나이가 많은 과학자를 추출
print(ages>ages.mean()) # boolean 값 True만 추출
manual_bool_values=[
    True,
    True,
    False,
    False,
    True,
    True,
    False,
    True,
]
print(ages[manual_bool_values])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64
count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [16]:
## doit 82~83p / 시리즈와 브로드캐스팅
# 벡터와 벡터, 벡터와 스칼라 계산하기
print(ages+ages) # 시리즈와 시리즈 연산
print(ages*ages)
print(ages+100) # 시리즈와 스칼라 연산
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [17]:
## doit 83~84p / 시리즈와 브로드캐스팅
# 길이가 서로 다른 벡터 연산하기
print(ages+pd.Series([1,100])) # 인덱스가 일치하는 0,1행만 계산 / 나머지는 결측값(NaN) 처리

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [18]:
## doit 84~86p / 시리즈와 브로드캐스팅
# 인덱스가 같은 벡터 자동 정렬하기
# 판다스는 대부분의 데이터를 자동으로 정렬. 시리즈나 데이터프레임은 가능한 한 인덱스를 기준으로 데이터 정렬
rev_ages=ages.sort_index(ascending=False) # ages 시리즈 내림차순 정렬
print(rev_ages)
print(ages*2) # 시리즈 값에 *2 하여 오름차순 정리
print(ages + rev_ages) # 두 시리즈 값이 합 연산 되어 오름차순 정리

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [19]:
## doit 87~88p
# 데이터프레임의 구성
# 판다스의 데이터 프레임 객체에는 각각 행 이름, 열 이름, 데이터를 나타내는 주요 구성 요소 존재
scientists.index
scientists.columns
scientists.values
# 데이터프레임과 불리언 추출
print(scientists.loc[scientists['Age']>scientists['Age'].mean()]) # DF에서 Age 열의 값이 평균 보다 큰 데이터만 추출

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [20]:
## doit 89~90p
# 데이터프레임과 브로드캐스팅
# 데이터프레임을 대상으로 연산하기
first_half=scientists[:4] # DF 반으로 나눔
second_half=scientists[4:]
print(first_half)
print(scientists*2)
df1=df2=pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]])
df_added=df1.add(df2) # 데이터프레임의 모든 값이 숫자이고 같은 셀끼리 값을 더하고 싶으면 add() 사용
print(df_added)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician
    0   1   2
0   2   4   6
1   8  10  12
2  14  16  18