### [ 데이터의 정보 확인 - 통계 메서드 ]
- 데이터의 컬럼별 분포 및 특징 파악하기 위해서 사용
- 데이터 기본적인 분석에 활용

In [11]:
# [1] 모듈로딩
import pandas as pd

In [12]:
# [2] 데이터 준비
file_name='auto_mpg.csv'

In [13]:
# [3] CSV 파일 => DataFrame 형태로 저장
mpgDF=pd.read_csv(file_name)

In [14]:
# [4] 데이터 확인
# - 기본 정보 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [15]:
# - 컬럼과 실제 데이터 타입 확인
print(mpgDF.head(),mpgDF.tail(),sep='\n\n')

    mpg  cylinders  displacement horsepower  weight  acceleration  model year  \
0  18.0          8         307.0        130    3504          12.0          70
1  15.0          8         350.0        165    3693          11.5          70
2  18.0          8         318.0        150    3436          11.0          70
3  16.0          8         304.0        150    3433          12.0          70
4  17.0          8         302.0        140    3449          10.5          70

   origin                   car name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

      mpg  cylinders  displacement horsepower  weight  acceleration  \
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin         car name
393          82       1  ford mustang gl
394          82       2        vw pickup
395          82       1    dodge rampage
396          82       1      ford ranger
397          82       1       chevy s-10

In [16]:
# - 컬럼별 데이터 분포 확인
mpgDF.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [17]:
# [5] 데이터관련 통계 메서드
# - 평균
mpgDF.mean(numeric_only=True)

mpg               23.514573
cylinders          5.454774
displacement     193.425879
weight          2970.424623
acceleration      15.568090
model year        76.010050
origin             1.572864
dtype: float64

In [18]:
# - 합계
mpgDF.sum(numeric_only=True)

mpg                9358.8
cylinders          2171.0
displacement      76983.5
weight          1182229.0
acceleration       6196.1
model year        30252.0
origin              626.0
dtype: float64

In [19]:
# - 중앙값
mpgDF.median(numeric_only=True)

mpg               23.0
cylinders          4.0
displacement     148.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64

In [20]:
# - 최빈값
mpgDF.mode(numeric_only=True) # 최빈값이 2개가 나와서 열 맞춤이 깨짐

    mpg  cylinders  displacement  weight  acceleration  model year  origin
0  13.0        4.0          97.0    1985          14.5        73.0     1.0
1   NaN        NaN           NaN    2130           NaN         NaN     NaN

In [21]:
mpgDF['weight'].mode()

0    1985
1    2130
Name: weight, dtype: int64

In [22]:
# - 고유값 : 컬럼안에 값의 종류
mpgDF['origin'].unique(),mpgDF['origin'].value_counts()

(array([1, 3, 2], dtype=int64),
 origin
 1    249
 3     79
 2     70
 Name: count, dtype: int64)

In [23]:
mpgDF['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [24]:
# 컬럼들의 관계 정도를 수치화하여 나타낸 것
mpgDF.corr(numeric_only=True)

,mpg,cylinders,displacement,weight,acceleration,model year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
model year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000