### [ 데이터 필터링 - Boolean Indexing ]
- Series/DataFrame에서 원하는 조건의 데이터만 추출하기 위한 것
- True와 False로 구성된 데이터 => 인덱스로 사용

In [11]:
# [1] 모듈로딩
import pandas as pd

In [12]:
# [2] 데이터 준비
data={'name':['마징가','베트맨','홍길동'],
      'age':[25,31,19],
      'gender':['남','남','여']}

In [13]:
# [3] Dict 데이터 => DataFrame 형태로 저장
dataDF=pd.DataFrame(data)
dataDF

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [14]:
# [4] 데이터 추출
# (1) 성별이 남자인 데이터만 추출
bool_index=dataDF['gender']=='남'

In [15]:
dataDF[bool_index]

  name  age gender
0  마징가   25      남
1  베트맨   31      남

In [16]:
# (2) 30세 이상의 남자 데이터만 추출
bool_index=(dataDF['age']>=30) & (dataDF['gender']=='남')

In [17]:
dataDF[bool_index]

  name  age gender
1  베트맨   31      남

In [18]:
# (3) 20세 이하거나 성별이 남자인 데이터만 추출
mask=(dataDF['age']<=20) | (dataDF['gender']=='남')
dataDF[mask]

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [20]:
# (4) 성별이 남자인 데이터만 추출
nam=dataDF['gender']=='남'
# 성별이 남자가 아닌 데이터만 추출
# ~True => False / ~False => True
not_nam=~(dataDF['gender']=='남')
nam,not_nam

(0     True
 1     True
 2    False
 Name: gender, dtype: bool,
 0    False
 1    False
 2     True
 Name: gender, dtype: bool)