### [중복데이터 처리]
- 중복 데이터 검사 후 처리 => 삭제
- [주의] 모든 중복 데이터를 삭제해야 하는 것은 아니다
    - 데이터의 특성을 확인 후 결정 해야 한다

In [29]:
# [1] 모듈 로딩
import pandas as pd

In [30]:
# [2] 데이터 준비
file_name='data.csv'

In [31]:
# [3] CSV => DataFrame 형태로 저장
csvDF=pd.read_csv(file_name)

In [32]:
# [4] 데이터 확인
csvDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      6 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      float64
 3   gender  6 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 320.0+ bytes

In [37]:
# [5] 데이터 전처리
# [5-1] 
csvDF.isna().sum()

no        0
name      1
age       1
gender    0
dtype: int64

In [33]:
# [5-2] 중복데이터 검사 및 처리
# keep 매개변수 : 어느 것을 중복 데이터로 취급하지 않을지 설정
csvDF.duplicated().sum()

1

In [34]:
# - 중복 데이터 처리
csvDF.drop_duplicates()

   no  name   age gender
0   1  Hong  10.0      F
1   2   NaN  13.0      F
2   3   Kim  12.0      M
3   4   Lee  12.0      F
4   5   Lim   NaN      M

In [35]:
# - 나이 컬럼만 중복 여부 체크
csvDF.duplicated(subset=['age'])

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool