In [2]:
import pandas as pd

In [3]:
a='SEL_DF.csv'

SEL_DF=pd.read_csv(a)
SEL_DF

   재무년월      OP    PER   PBR    ROE
0  2021  516339  13.55  1.80  13.92
1  2022  433766   6.86  1.09  17.07
2  2023   65670  36.84  1.51   4.14

In [4]:
b="SDS_DF.csv"

SDS_DF=pd.read_csv(b)
SDS_DF

   재무년월    OP    PER   PBR    ROE
0  2021  8081  19.81  1.67   8.80
1  2022  9161   8.65  1.16  14.23
2  2023  8082  18.97  1.52   8.22