[1] Iris 데이터셋으로 오늘 코드 복습

[2] Fashion MNIST & IRIS

    * 커스텀 데이터셋 생성
    * 커스텀 모델 생성
    * 학습/테스트 함수 생성

- [IRIS]
    * Feature : 3개 Sepal_Length, Sepal_Width, Petal_Length
    * Target : 1개 Petal_Width

- [IRIS]
    * Feature : 4개
    * Target : 1개
    * Class : 품종 2개만 선택 <- Setosa와 나머지

- [IRIS]
    * Feature : 4개
    * Target : 1개
    * Class : 품종 3개 <- 고유값

- [MNIST-DIGIT]
    * Feature : 64개
    * Target : 1개
    * Class : 품종 3개 <- 고유값

In [1]:
# 모듈 로딩
import torch
import torch.nn as nn 
import torch.nn.functional as F
import torch.optim as optimizer
from torchmetrics.classification import F1Score,Accuracy
from torchinfo import summary
from torch.utils.data import Dataset, DataLoader
import pandas as pd

In [2]:
# from urllib.request import urlretrieve

# TEST_URL  = 'https://media.githubusercontent.com/media/fpleoni/fashion_mnist/master/fashion-mnist_test.csv'
# TRAIN_URL = 'https://media.githubusercontent.com/media/fpleoni/fashion_mnist/master/fashion-mnist_train.csv'

# TRAIN_FILE = '../data/fashion-mnist_train.csv'
# TEST_FILE  = '../data/fashion-mnist_test.csv'
# # 데이터 파일로 저장
# urlretrieve(TRAIN_URL, TRAIN_FILE)
# urlretrieve(TEST_URL, TEST_FILE)

In [3]:
DATA_FILE='../../../datas/fashion-mnist/fashion-mnist_train.csv'
DATA_FILE2='../../../datas/fashion-mnist/fashion-mnist_test.csv'

In [4]:
train_df=pd.read_csv(DATA_FILE)
test_df=pd.read_csv(DATA_FILE2)

In [6]:
train_df.head(3)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0