### [ DF 연결 ]
- 연결
    - pandas.concat() 함수
    - DataFrame.append() 메서드

In [1]:
# [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
data1=[[11,22,33],[44,55,66]]
data2=[[20,21,22],[23,24,25]]

In [3]:
# [3] 2D List => DataFrame 형태로 저장
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)

In [5]:
# [4] DF 연결
# [4-1] 함수 사용
# 기본은 행 방향 연결 axis=0
# ignore_index=True를 설정하여 인덱스를 깔끔하게 합침
df12=pd.concat([df1,df2],ignore_index=True)
df12

    0   1   2
0  11  22  33
1  44  55  66
2  20  21  22
3  23  24  25

In [6]:
# [설정] 행 방향 연결 axis=1, ignore_index=True
df12=pd.concat([df1,df2],axis=1, ignore_index=True)
df12

    0   1   2   3   4   5
0  11  22  33  20  21  22
1  44  55  66  23  24  25

In [7]:
# [5] DF 연결 - 컬럼 수 / 컬럼 이름이 다른 경우
df3=pd.DataFrame(data2,index=[0,2],columns=[0,2,4])
df3

    0   2   4
0  20  21  22
2  23  24  25

In [9]:
# 행 방향 연결 axis=0, join='outer'
df13=pd.concat([df1,df3],ignore_index=True) # ignore_index는 axis를 따라감
df13

    0     1   2     4
0  11  22.0  33   NaN
1  44  55.0  66   NaN
2  20   NaN  21  22.0
3  23   NaN  24  25.0

In [10]:
# 행 방향 연결 axis=0, join='inner'
df13=pd.concat([df1,df3],join='inner')
df13

    0   2
0  11  33
1  44  66
0  20  21
2  23  24

In [11]:
# [기본] join='outer'
# [설정] 열 방향 연결 axis=1, join='outer'
df13=pd.concat([df1,df3],axis=1)
df13

      0     1     2     0     2     4
0  11.0  22.0  33.0  20.0  21.0  22.0
1  44.0  55.0  66.0   NaN   NaN   NaN
2   NaN   NaN   NaN  23.0  24.0  25.0

In [12]:
# [설정] 열 방향 연결 axis=1, join='inner'
df13=pd.concat([df1,df3],axis=1, join='inner')
df13

    0   1   2   0   2   4
0  11  22  33  20  21  22