### Part.03
- 전통주 소비량이 올라감
- 이에 따른 전통주 시장 규모 확대(탁주, 약주, 청주, 과실주, 증류식소주, 일반증류주, 리큐르, 기타 주류)

In [1]:
import pandas as pd
import numpy as np

### 전통주 종류 설명
- 탁주 : 전분질 원료와 국을 주원료로 하여 발효시킨 술덧(주요)을 혼탁하게 제성한 것을 말함.

- 약주 : 전분질 원료와 국을 주원료로 하여 발효시킨 술덧(주요)을 여과하여 제성한 것을 말함.

- 청주 : 전분질 원료와 국을 주원료로 하여 발효시킨 술덧(주요)을 여과 제성한 것 또는 발효 제성 과정에 주류 등을 첨가한 것을 말함.

- 과실주 : 과실 또는 과즙을 주 원료로 하여 발효시킨 술덧(주요)을 여과 제성한 것 또는 발효 과정에 과실, 당질 또는 주류 등을 첨가한 것을 말함.

- 일반증류주 : 전분질 또는 당분질을 주 원료로 하여 발효, 증류한 것, 증류주를 혼합한 것, 과실(포도 등 발효시킬 수 있는 과실 제외)의 추출액을 첨가한 것. 주정, 소주, 위스키, 브랜디 이외의 주류로서 주세법에서 규정한 것을 말함.

- 리큐르 : 전분질 또는 당분질을 주원료로 하여 발효시켜 증류한 주류에 인삼, 과실(포도 등 발효 시킬 수 있는 과실 제외) 등을 침출시킨 것이거나 발효 증류 제성과정에 인삼, 또는 주정, 소주, 일반증류주의 발효, 증류, 제성과정에 주세법에서 정한 물료를 첨가한 것을 말함.

- 기타주류 : 발포주가 포함되며, 따로 기준 및 규격이 제정되지 아니한 주류로서 주세법에서 규정한 것을 말함.

In [2]:
# 사용할 데이터는 3개 / 기간은 2018~2022년 사이 / 19년대비 20년의 증감률을 따로 확인
# 1. 국내시장에서의 전통주 거래량에 대한 데이터
# 2. 전통주 시장 규모의 확대를 확인 할 수 있는 전통주 제조 면허 수 데이터
# 3. 전통주 수출 현황에 대한 데이터

In [3]:
data1='전통주산업현황.xlsx' # 출처 : 국세청 통계연보
df1=pd.read_excel(data1)
df1 #단위 : Kl(킬로리터) , 백만원

,구분,2018출고량,2018출고금액,2019출고량,2019출고금액,2020출고량,2020출고금액,2021출고량,2021출고금액,2022출고량,2022출고금액,19년대비증감률-출고량,19년대비증감률-출고금액
0,탁주,5247,10295,5631,11905,6927,18113,9842,31487,12002,46340,23.0,52.1
1,약주,1325,8321,1946,10075,1420,9301,2152,11320,2581,14741,-27.0,-7.7
2,청주,45,168,100,441,386,1049,409,1439,378,1651,286.0,137.9
3,과실주,1760,14188,1621,14256,1673,14504,2385,21403,2979,29686,3.2,1.7
4,증류식소주,498,5648,590,6781,655,7835,887,10696,2428,47665,11.0,15.5
5,일반증류주,337,2381,726,4052,1013,5782,1273,8402,2137,12567,39.5,42.7
6,리큐르,332,3336,344,3733,471,3974,664,5948,906,7504,36.9,6.5
7,기타주류,168,1236,462,1885,485,2106,1048,3454,561,2758,5.0,11.7
8,합계,9712,45573,11420,53128,13031,62664,18660,94149,23972,162912,14.1,17.9

In [4]:
# 가시성을 위해 출고량과 출고금액을 나타내는 2개의 데이터 프레임으로 분리
KL=df1[['구분','2018출고량','2019출고량','2020출고량','2021출고량','2022출고량','19년대비증감률-출고량']]
KL # 2018~2022까지의 전통주 출고량
# 발표 주제에 어울리는 데이터는 출고량으로 판단함

      구분  2018출고량  2019출고량  2020출고량  2021출고량  2022출고량  19년대비증감률-출고량
0     탁주     5247     5631     6927     9842    12002          23.0
1     약주     1325     1946     1420     2152     2581         -27.0
2     청주       45      100      386      409      378         286.0
3    과실주     1760     1621     1673     2385     2979           3.2
4  증류식소주      498      590      655      887     2428          11.0
5  일반증류주      337      726     1013     1273     2137          39.5
6    리큐르      332      344      471      664      906          36.9
7   기타주류      168      462      485     1048      561           5.0
8     합계     9712    11420    13031    18660    23972          14.1

In [5]:
Price=df1[['구분','2018출고금액','2019출고금액','2020출고금액','2021출고금액','2022출고금액','19년대비증감률-출고금액']]
Price # 2018~2022까지의 전통주 출고금액

      구분  2018출고금액  2019출고금액  2020출고금액  2021출고금액  2022출고금액  19년대비증감률-출고금액
0     탁주     10295     11905     18113     31487     46340           52.1
1     약주      8321     10075      9301     11320     14741           -7.7
2     청주       168       441      1049      1439      1651          137.9
3    과실주     14188     14256     14504     21403     29686            1.7
4  증류식소주      5648      6781      7835     10696     47665           15.5
5  일반증류주      2381      4052      5782      8402     12567           42.7
6    리큐르      3336      3733      3974      5948      7504            6.5
7   기타주류      1236      1885      2106      3454      2758           11.7
8     합계     45573     53128     62664     94149    162912           17.9

In [6]:
data2='전통주제조면허현황.xlsx' # 출처 : 국세청 통계연보
df2=pd.read_excel(data2)
df2 #단위 : 개

      구분  2018  2019  2020  2021  2022  19년대비 면허 증감률
0     탁주   145   176   203   243   294          15.3
1     약주   236   262   291   310   346          11.1
2     청주    11    14    21    29    31          50.0
3    과실주   247   253   254   253   253           0.4
4  증류식소주    71    92   113   131   155          22.8
5  일반증류주   167   194   216   242   271          11.3
6    리큐르    90    91    96   103   107           5.5
7   기타주류    69    80    78    89   103          -2.5
8     합계  1036  1162  1272  1400  1560           9.5

In [7]:
data3='전통주수출현황.xlsx' # 출처 : 관세청 수출입현황 통계
df3=pd.read_excel(data3)
df3 #중량 : 톤 / 금액 : 1,000$

,구분,2018중량,2018금액,2019중량,2019금액,2020중량,2020금액,2021중량,2021금액,2022중량,2022금액
0,탁주,12848,12410,12772,12190,12556,12468,14643,15804,15396,15677
1,약주,245,782,224,722,186,648,242,837,221,825
2,청주,384,795,357,768,291,663,372,845,362,920
3,사과주,268,547,448,868,983,1700,1449,2609,1875,3526
4,기타 과실주,819,2650,713,2394,720,2341,960,3144,1036,3463
5,인삼주,48,480,43,419,44,404,39,282,27,251
6,합계,14611,17664,14558,17361,14780,18224,17704,23521,18918,24662

In [8]:
# 2020년의 증감률이 필요해서 증감률을 계산하고 DataFrame에 새로운 열로 추가
a=df3['2020중량']
b=df3['2019중량']
ton20=((a-b)/b)*100
Ton20=ton20.to_frame()
df3['19년대비증감률-중량(수출)']=Ton20
df3 # 19년대비 수출 전통주 중량 증감률

,구분,2018중량,2018금액,2019중량,2019금액,2020중량,2020금액,2021중량,2021금액,2022중량,2022금액,19년대비증감률-중량(수출)
0,탁주,12848,12410,12772,12190,12556,12468,14643,15804,15396,15677,-1.691199
1,약주,245,782,224,722,186,648,242,837,221,825,-16.964286
2,청주,384,795,357,768,291,663,372,845,362,920,-18.487395
3,사과주,268,547,448,868,983,1700,1449,2609,1875,3526,119.419643
4,기타 과실주,819,2650,713,2394,720,2341,960,3144,1036,3463,0.981767
5,인삼주,48,480,43,419,44,404,39,282,27,251,2.325581
6,합계,14611,17664,14558,17361,14780,18224,17704,23521,18918,24662,1.524935

In [9]:
sales20=((df3['2020금액']-df3['2019금액'])/df3['2019금액'])*100
Sales20=sales20.to_frame()
df3['19년대비증감률-금액(수출)']=Sales20
df3 # 19년대비 수출 전통주 금액 증감률

,구분,2018중량,2018금액,2019중량,2019금액,2020중량,2020금액,2021중량,2021금액,2022중량,2022금액,19년대비증감률-중량(수출),19년대비증감률-금액(수출)
0,탁주,12848,12410,12772,12190,12556,12468,14643,15804,15396,15677,-1.691199,2.280558
1,약주,245,782,224,722,186,648,242,837,221,825,-16.964286,-10.249307
2,청주,384,795,357,768,291,663,372,845,362,920,-18.487395,-13.671875
3,사과주,268,547,448,868,983,1700,1449,2609,1875,3526,119.419643,95.852535
4,기타 과실주,819,2650,713,2394,720,2341,960,3144,1036,3463,0.981767,-2.213868
5,인삼주,48,480,43,419,44,404,39,282,27,251,2.325581,-3.579952
6,합계,14611,17664,14558,17361,14780,18224,17704,23521,18918,24662,1.524935,4.970912

In [10]:
# 가시성을 위해 각각 중량과 금액 정보를 갖는 2개의 데이터 프레임으로 분리
Drink_ton=df3[['구분','2018중량','2019중량','2020중량','2021중량','2022중량']]
Drink_ton # 중량 / 단위 : 톤

       구분  2018중량  2019중량  2020중량  2021중량  2022중량
0      탁주   12848   12772   12556   14643   15396
1      약주     245     224     186     242     221
2      청주     384     357     291     372     362
3     사과주     268     448     983    1449    1875
4  기타 과실주     819     713     720     960    1036
5     인삼주      48      43      44      39      27
6      합계   14611   14558   14780   17704   18918

In [11]:
Drink_price=df3[['구분','2018금액','2019금액','2020금액','2021금액','2022금액']]
Drink_price # 수출액 / 단위 : 1,000$

       구분  2018금액  2019금액  2020금액  2021금액  2022금액
0      탁주   12410   12190   12468   15804   15677
1      약주     782     722     648     837     825
2      청주     795     768     663     845     920
3     사과주     547     868    1700    2609    3526
4  기타 과실주    2650    2394    2341    3144    3463
5     인삼주     480     419     404     282     251
6      합계   17664   17361   18224   23521   24662

In [12]:
result1=pd.concat([df1['19년대비증감률-출고량'],df1['19년대비증감률-출고금액'],df3['19년대비증감률-중량(수출)'],df3['19년대비증감률-금액(수출)'],df2['19년대비 면허 증감률']],axis=1)
result1.corr(numeric_only=True)

# 19년 대비 20년의 전통주 시장 변화에 대한 데이터를 따로 DataFrame으로 저장하고
# corr() 메서드를 사용하여 상관관계를 확인함
# 19년 대비 국내시장에서의 전통주 출고량과 출고금액, 제조 면허 숫자는 양의 상관관계를 확실하게 보임
# 다만 전통주 수출에 관해서는 유의미한 상관관계를 보이지 않음 
# 이후의 전통주 수출은 현재까지 증가 하는 추세

,19년대비증감률-출고량,19년대비증감률-출고금액,19년대비증감률-중량(수출),19년대비증감률-금액(수출),19년대비 면허 증감률
19년대비증감률-출고량,1.000000,0.942869,-0.296209,-0.297318,0.862977
19년대비증감률-출고금액,0.942869,1.000000,-0.365584,-0.373245,0.869119
19년대비증감률-중량(수출),-0.296209,-0.365584,1.000000,0.995677,-0.527960
19년대비증감률-금액(수출),-0.297318,-0.373245,0.995677,1.000000,-0.536493
19년대비 면허 증감률,0.862977,0.869119,-0.527960,-0.536493,1.000000

In [13]:
result2=pd.concat([df1['19년대비증감률-출고량'],df1['19년대비증감률-출고금액'],df2['19년대비 면허 증감률']],axis=1)
result2.corr(numeric_only=True)
# 양의 상관관계가 뚜렷이 나타나는 요소들만 따로 모아서 DataFrame으로 저장 후 결과 확인

               19년대비증감률-출고량  19년대비증감률-출고금액  19년대비 면허 증감률
19년대비증감률-출고량       1.000000       0.942869      0.862977
19년대비증감률-출고금액      0.942869       1.000000      0.869119
19년대비 면허 증감률       0.862977       0.869119      1.000000