### DataFrame 행/열 인덱스 변경
- 방법1 : 속성명으로 변경 => 전체 변경
- 방법2 : 메서드로 변경 => 일부 변경

In [1]:
# 모듈 로딩
import pandas as pd

In [2]:
# 데이터 준비
data={'name':['홍길동','마징가','원더우면'],
      'job':['의적','로봇','영웅'],
      'gender':['남','남','여'],
      'age':[100,200,300],
      'height':[180,300,200]}

In [3]:
# DF으로 데이터 저장
dataDF=pd.DataFrame(data)
print(dataDF)

   name job gender  age  height
0   홍길동  의적      남  100     180
1   마징가  로봇      남  200     300
2  원더우면  영웅      여  300     200

In [4]:
# [실습] 열 인덱스를 이름, 직업, 성별, 나이, 키로 변경
dataDF.columns=['이름','직업','성별','나이','키']
dataDF

     이름  직업 성별   나이    키
0   홍길동  의적  남  100  180
1   마징가  로봇  남  200  300
2  원더우면  영웅  여  300  200

In [5]:
# [실습] 일부변경 : 키 => 신장 변경
dataDF.rename(columns={'키':'신장'})

     이름  직업 성별   나이   신장
0   홍길동  의적  남  100  180
1   마징가  로봇  남  200  300
2  원더우면  영웅  여  300  200

In [6]:
# [실습] 일부변경 : 키 => 신장 변경
dataDF.rename(columns={'키':'신장'},inplace=True)

In [8]:
# [실습] 행 인덱스 0,1,2 => P0, P1, P2로 변경
dataDF.index=['P0','P1','P2']
dataDF

      이름  직업 성별   나이   신장
P0   홍길동  의적  남  100  180
P1   마징가  로봇  남  200  300
P2  원더우면  영웅  여  300  200

In [10]:
# [실습] 행 인덱스 P2 => END 로 변경
dataDF.rename(index={'P2':'END'},inplace=True)