### DataFrame 살펴보기
- Dict 데이터로 DF 저장

In [1]:
# 모듈로딩
import pandas as pd
#%pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
# 데이터 준비
jumsu={'국어':[89,91],'수학':[88,90],'음악':[100,98]}

In [3]:
# DF로 데이터 저장
df1=pd.DataFrame(jumsu)

In [4]:
# DF로 저장된 데이터 확인
print(df1)

   국어  수학   음악
0  89  88  100
1  91  90   98

- [속성으로 행인덱스 변경] : 변수명.index=새로운 인덱스

In [6]:
# 0,1 인덱스 => '마징가','홍길동'
df1.index=['마징가','홍길동']

In [7]:
df1

     국어  수학   음악
마징가  89  88  100
홍길동  91  90   98

In [8]:
# 컬럼 인덱스 => '국어','미술','과학'
df1.columns=['국어','미술','과학']
df1

     국어  미술   과학
마징가  89  88  100
홍길동  91  90   98

In [ ]:
# 값/데이터 변경은 속성으로는 불가능
# 값을 저장하고 있는 속성 => values
#df1.values=[[89,78,100],[91,90,98]] 지원안함

In [ ]:
# 형태 변경은 속성으로는 불가
#df1.shape=(3,2) 지원안함