###과제 
- 1. pdf 73~106p 까지
- 2. 책 57p 까지
- 3. 데이터파일 - 남북한 발전전력량.xlsx / %pip install openpyxl
    - 신재생에너지 => 북한추가
    - 없는 값은 => 0으로
    - 2016컬럼 우측에 '합계' 컬럼 추가
        - 값 : 행별 합계 저장
        - 각 행별 합계 구하는 함수 생성

In [2]:
## doit 29~30p
# 첫 데이터셋 불러오기
import pandas
df=pandas.read_csv(r'C:\KDT\EX_PANDAS\DAY02\DATA_doit_pan\DATA\gapminder.tsv',sep='\t')
print(df)
import pandas as pd
df=pd.read_csv(r'C:\KDT\EX_PANDAS\DAY02\DATA_doit_pan\DATA\gapminder.tsv',sep='\t')

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [3]:
## doit 31p
# 데이터프레임 이해하기
print(type(df)) # df의 자료형 확인
print(df.shape) # shape속성은 첫 번째 값이 행 개수이고 두 번째 값이 열 개수인 튜플을 반환
#print(df.shape()) # 타입 에러 발생. shape는 메서드가 아니다!

<class 'pandas.core.frame.DataFrame'>
(1704, 6)

In [4]:
## doit 32p
# 데이터프레임 이해하기
print(df.columns) # 데이터 프레임의 열 이름 확인
print(df.dtypes) # 데이터셋의 각 열이 어떤 자료형인지 확인
print(df.info()) # info() 메서드를 사용하여 데이터와 관련된 다양한 정보 확인
# 판다스의 자료형은 파이썬과 다르다!
# object / string / 문자열, 가장 일반적인 자료형
# int64 / int / 정수
# float64 / float / 소수점이 있는 숫자
# datetime64 / datetime / 표준 라이브러리 datetime에서 제공하는 자료형

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [5]:
## doit 34~35p
# 열 데이터 추출하기
print(df.head()) # head() 메서드를 사용하여 가장 앞 5개 행을 살펴보기
country_df=df['country'] # 열 데이터 추출해서 새로운 변수에 저장
print(country_df.head()) # 각 열에서도 head() 메서드 사용 가능
print(country_df.tail()) # 마지막 5개 행을 추출하는 tail() 메서드

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [6]:
## doit 36p
# 리스트로 열 데이터 추출하기
subset=df[['country','continent','year']] # 3개 열 데이터 추출하고 변수에 저장
print(subset) # 리스트로 지정한 3개 열 출력

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [7]:
## doit 37~38p
# 열 데이터를 추출하는 두 가지 방법의 차이점 이해하기
country_df=df['country'] # 열의 이름을 문자열로 지정하여 열 데이터를 추출하면 시리즈 객체를 반환
print(type(country_df)) # <class 'pandas.core.series.Series'>
print(country_df)
country_df_list=df[['country']]
print(type(country_df_list)) # <class 'pandas.core.frame.DataFrame'>
print(country_df_list)
# 분석 환경이나 필요에 따라 시리즈를 사용할 것인지 데이터프레임을 사용할 것인지 결정 해야한다.

<class 'pandas.core.series.Series'>
0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
<class 'pandas.core.frame.DataFrame'>
          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [8]:
## doit 40~44p
# 행 데이터 추출하기
# loc;location : 행 이름을 기준으로 행 추출
# iloc;integer location : 행 번호(행 위치)를 기준으로 행 추출
print(df) # 가장 왼쪽의 행 번호를 확인하자
print(df.loc[0]) # loc 이용하여 행 데이터 추출하기
print(df.loc[99]) # 100번쨰 행 데이터 추출
#print(df.loc[-1])? KeyError 발생 / loc속성은 행 이름을 참조하는데 -1 이라는 행 이름은 없다
number_of_rows=df.shape[0] # shape 속성을 사용하여 행의 개수 구하기
last_row_index=number_of_rows-1 # 행의 개수에서 1을 뺸 값으로 마지막 행의 인덱스 구하기
print(df.loc[last_row_index]) # 마지막 행의 인덱스로 데이터 추출하기
print(df.tail(n=1)) # tail() 메서드를 사용하여 마지막 행 구하기
print(df.loc[[0,99,999]]) # 첫번째, 100번쨰, 1000번째 행의 데이터 추출

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]
country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [9]:
## doit 44~45p
# 행 번호로 행 데이터 추출하기
print(df.iloc[1]) # iloc 속성을 사용하여 행 데이터 추출하기
print(df.iloc[99]) # 100번째 행 데이터 추출
print(df.iloc[-1]) # loc속성과 다르게 사용가능 / iloc는 행 번호로 작동하기 떄문
print(df.iloc[[0,99,999]])# 리스트를 사용하여 행 데이터 추출

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [10]:
## doit 46~48p
# 슬라이싱 구문으로 데이터 추출하기
subset=df.loc[:,['year','pop']] # loc로 year와 pop 열 데이터 추출
print(subset) # 열 이름이 아닌 정수를 사용하면 오류 발생
subset=df.iloc[:,[2,4,-1]] # iloc로 3,5번째와 마지막(-1) 열 데이터 추출
print(subset) # 열 이름을 사용하면 오류 발생

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]
      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [11]:
## doit 48~50p
# range()로 데이터 추출하기
small_range=list(range(5)) # 0~4까지의 5개 정수를 포함하는 리스트 생성
print(small_range)
subset=df.iloc[:,small_range] # 만든 리스트 사용하여 데이터프레임에서 열을 추출
print(subset)
small_range=list(range(3,6)) # 3이상 6미만 3개 정수를 포함하는 리스트 생성
print(small_range)
subset=df.iloc[:,small_range]
print(subset)
small_range=list(range(0,6,2)) # 세 번째 매개변수 step을 전달해보자 (간격)
subset=df.iloc[:,small_range]
print(subset)

[0, 1, 2, 3, 4]
          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]
[3, 4, 5]
      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]
          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [12]:
## doit 51~55p
# 슬라이싱 구문과 range() 비교하기
subset=df.iloc[:,:3] # 슬라이싱 구문으로 열 데이터 추출
print(subset)
subset=df.iloc[:,3:6] # 모든 행의 3,4,5번 열을 추출
print(subset)
subset=df.iloc[:,0:6:2] # 모든 행의 0,2,4번 열을 추출
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]
      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]
          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [13]:
## doit 56~57p
# 여러 행과 열 지정하여 데이터 추출하기
print(df.iloc[[0,99,999],[0,3,5]])
print(df.loc[[0,99,999],['country','lifeExp','gdpPercap']])
# 슬라이싱 구문 사용 시 주의사항
print(df.loc[10:13,:]) # 이름 기준이므로 13도 포함
print(df.iloc[10:13,:]) # 번호 기준이므로 13은 제외

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
        country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
        country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136